@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  background-image: url(../images/clock-face.svg);
  height: 300px;
  width: 300px;
  position: relative;
  margin: 0 auto; 
}

.hand {
  width: 14px;
  position: absolute;
  bottom: calc(50%);
  left: calc(50% - 7px);
  transition: all 8s linear;
  transform-origin: bottom center;
}

.clock-face:hover .hand-hour {
  transform: rotate(360deg) 
}

.clock-face:hover .hand-minute {
  transform: rotate(4320deg)
}

.center {
  width: 28px;
  position: absolute;
  bottom: calc(50% - 14px);
  left: calc(50% - 14px); 
}

.clock-face:target .hand-hour {
    transform: rotate(360deg)
}
    
.clock-face:target .hand-minute {
    transform: rotate(4320deg)
}


.forward {
    background-color: green; 
    width: 6em;
    line-height: 6em;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    transition: opacity 2s linear;
}

.backward {
    background-color: red;
    width: 6em;
    line-height: 6em;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    transition: opacity 2s linear;
}

.button {
    text-align: center;
}

.backward:hover {
    color: black;
    background-color: white;   
}

.forward:hover {
    color: black;
    background-color: white;   
}
    
    
